# Database settings
DB_HOST=mysql
DB_PORT=3306

# root user privilige (only for initialization)
MYSQL_ROOT_PASSWORD=root_password

# app user for running the application
APP_DB_USER=app
APP_DB_PASSWORD=password_for_app_user
APP_DB_NAME=campus_events

# test user for testing
TEST_DB_HOST=127.0.0.1
TEST_DB_USER=test
TEST_DB_PASSWORD=password_for_test_user
TEST_DB_NAME=test_campus_events

#fix harcoded secret
FLASK_SECRET_KEY=a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
JWT_SECRET_KEY=f6e5d4c3b2a1f6e5d4c3b2a1f6e5d4c3
ADMIN_API_KEY=epita-2025-secure-admin-key-xyz

# cors allowed
ALLOWED_ORIGINS=http://localhost:3000
